h1 {
    font-family: 'Luckiest Guy', cursive;
}

h2 {
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    padding-bottom: 2%;
}

h3 {
    font-family: 'Raleway', cursive;
}


footer {
    text-align: center;
}

small {
    color: #CCCCCC;
}


.frame, .post {
margin-top: 10px;
border: 5px solid #ffc107 !important;
border-radius: 50px;
}

.frame {
padding: 4% 10%;
}

.post {
padding: 2% 4%;
}

.center-flex {
display: flex;
justify-content: center;
align-items: center;
}

.big-btn {
font-size: 6em;
color: #ffc107;
}

.writer-icon {
font-size: 4em !important;
}

.nav-icon {
font-size: 2em !important;
}

.nav-elements {
    padding-top: 1em;
}

