h2 {
    text-align: center;
    padding-bottom: 2%;
}

footer {
    text-align: center;
}

.frame {
    margin-top: 15px;
    padding: 4% 10%;
    border: 10px solid #ffc107 !important;
    border-radius: 50px;
}

.post {
    margin-top: 15px;
    padding: 2% 4%;
    border: 10px solid #ffc107 !important;
    border-radius: 50px;
}

.plus {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
}

