{% extends 'base.html.twig' %}

{% block title %}Hello EnregistrementController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            Hi-Op!
        </a>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-10 offset-1">
                <form class="form-group border border-primary frame">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-2">
                                <label for="lastnameInput">Nom</label>
                            </div>
                            <div class="col-10">
                                <input type="text" class="form-control" id="lastnameInput" aria-describedby="lastnameHelp" placeholder="Entrez votre nom">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-2">
                                <label for="firstnameInput">Prénom</label>
                            </div>
                            <div class="col-10">
                                <input type="text" class="form-control" id="firstnameInput" aria-describedby="firstnameHelp" placeholder="Entrez votre nom">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-2">
                                <label for="exampleInputPassword1">Password</label>
                            </div>
                            <div class="col-10">
                                <input type="password" class="form-control" id="passwordInput" placeholder="Mot de passe">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="profilePictureInput">Photo de profil</label>
                        <input type="file" class="form-control-file" id="profilePictureInput">
                    </div>
                    <div class="form-group">
                        <label for="idDocumentInput">Pièce d'identité</label>
                        <input type="file" class="form-control-file" id="idDocumentInput">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="conditionGeneraleCheck">
                        <label class="form-check-label" for="conditionGeneraleCheck"><small id="emailHelp" class="form-text text-muted">Je déclare avoir pris connaissance des conditions générales d'utilisation</small></label>

                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="veraciteInformationCheck">
                        <label class="form-check-label" for="veraciteInformationCheck"><small id="emailHelp" class="form-text text-muted">J'atteste de la véracité des informations ci dessus.</small></label>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-warning">S'enregistrer</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <small>&copy; 2019 All rights reserved. Hi-Op.</small>
                </div>
            </div>
        </div>
    </footer>


{% endblock %}
