{% extends 'base.html.twig' %}

{% block title %}Hello EnregistrementController!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-10 offset-1">
                <form class="frame">
                    <h2>Connexion utilisateur</h2>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2 col-xs-6">
                                <label for="lastnameInput">Nom</label>
                            </div>
                            <div class="col-md-10 col-xs-6">
                                <input type="text" class="form-control" id="lastnameInput" aria-describedby="lastnameHelp" placeholder="Entrez votre nom">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2 col-xs-6">
                                <label for="firstnameInput">Prénom</label>
                            </div>
                            <div class="col-md-10 col-xs-6">
                                <input type="text" class="form-control" id="firstnameInput" aria-describedby="firstnameHelp" placeholder="Entrez votre nom">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2 col-xs-6">
                                <label for="exampleInputPassword1">Password</label>
                            </div>
                            <div class="col-md-10 col-xs-6">
                                <input type="password" class="form-control" id="passwordInput" placeholder="Mot de passe">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="profilePictureInput">Photo de profil</label>
                        <input type="file" class="form-control-file" id="profilePictureInput">
                    </div>
                    <div class="form-group">
                        <label for="idDocumentInput">Pièce d'identité</label>
                        <input type="file" class="form-control-file" id="idDocumentInput">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="conditionGeneraleCheck">
                        <label class="form-check-label" for="conditionGeneraleCheck"><small id="emailHelp" class="form-text text-muted">Je déclare avoir pris connaissance des conditions générales d'utilisation</small></label>

                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="veraciteInformationCheck">
                        <label class="form-check-label" for="veraciteInformationCheck"><small id="emailHelp" class="form-text text-muted">J'atteste de la véracité des informations ci dessus.</small></label>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-warning">S'enregistrer</button>
                    </div>
                </form>
            </div>
        </div>

    </div>




{% endblock %}
