{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-10 offset-1">
                <!--for each post-->
{#                {% for post in posts %}#}
                <div class="accordion post" id="post01">
                    <div id="headingThree">
                        <div class="row flex-wrap-reverse">
                            <div class="col-md-2 col-xs-6 center-flex">
                                <button class="btn btn-link collapsed big-btn" type="button" data-toggle="collapse" data-target="#collapse01" aria-expanded="false" aria-controls="collapseThree">
                                    <a href="#post01"></a>
                                    <i class="fas fa-plus-circle"></i>
                                </button>
                            </div>
                            <div class="col-md-10 col-xs-6 ">
                                <div class="post-preview">
                                    <h3>{{ op_title }}</h3>
                                    <p>text primary
                                    </p>
                                </div>
                                <div id="collapse01" class="collapse" aria-labelledby="headingThree" data-parent="#post01">
                                    <p>text secondary
                                    </p>

                                    <div class="row">
                                        <div class="col-2">
                                            <i class="fas fa-user float-left mr-3 writer-icon"></i>
                                        </div>
                                        <div class="col-10">
                                            <p>Ecrit le 10 août 2019 par <b>Jean-Claude Vancake</b></p>
                                            <p>En réaction à : <a href="google.fr">google.fr</a></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!--for each tag-->
                                        <button type="button" class="btn btn-outline-warning ml-1">TagA</button>
                                        <button type="button" class="btn btn-outline-warning ml-1">TagB</button>
                                        <button type="button" class="btn btn-outline-warning ml-1">TagC</button>
                                        <!--end for each tag-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{#                {% endfor %}#}
                <!--end for each post-->
            </div>
        </div>
    </div>
{% endblock %}
