<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy%7CRaleway&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/fcda6e7ddf.js"></script>

        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        <nav class="navbar-light bg-warning">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <a class="navbar-brand container" href="/accueil">
                            <h1>Hi-Op!</h1>
                        </a>
                    </div>
                    <div class="col-2">
                        <a class="navbar-brand container" href="/redaction">
                            <i class="fas fa-edit nav-icon" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col-2">
                        <a class="navbar-brand container" href="/connexion">
                            <i class="fas fa-user nav-icon"></i>
                        </a>
                    </div>
                </div>
            </div>

        </nav>
        {% block body %} {% endblock %}
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <small>&copy; 2019 All rights reserved. Hi-Op.</small>
                    </div>
                </div>
            </div>
        </footer>
        {% block javascripts %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!--<script type="text/javascript" src="./../../assets/js/app.js"></script>-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
